streamlit
docx2txt
PyPDF2
python-dotenv
openai
sentence-transformers
transformers
nltk
requests
torch
torchvision
faiss-cpu
python-dateutil
################################################################
fitz
numpy
openai
requests
rank-bm25
scikit-learn
networkx
matplotlib
tqdm
Pillow
evaluate
rouge-score
bert-score
nltk
python-dateutil
numpy
sentence-transformers
transformers